[submodule "ag-grid-polymer-seed"]
	path = ag-grid-polymer-seed
	url = https://github.com/ag-grid/ag-grid-polymer-seed.git
	branch = master
[submodule "ag-grid-seed"]
	path = ag-grid-seed
	url = https://github.com/ag-grid/ag-grid-seed.git
	branch = master
[submodule "ag-grid-react-seed"]
	path = ag-grid-react-seed
	url = https://github.com/ag-grid/ag-grid-react-seed.git
	branch = master
[submodule "ag-grid-polymer"]
	path = ag-grid-polymer
	url = https://github.com/ag-grid/ag-grid-polymer.git
	branch = master
[submodule "ag-grid-dev"]
	path = ag-grid-dev
	url = https://github.com/ag-grid/ag-grid-dev.git
	branch = latest
[submodule "ag-grid-angular-seed"]
	path = ag-grid-angular-seed
	url = https://github.com/ag-grid/ag-grid-angular-seed.git
	branch = master
[submodule "ag-grid-webcomponent"]
	path = ag-grid-webcomponent
	url = https://github.com/ag-grid/ag-grid-webcomponent.git
	branch = master
[submodule "ag-grid-aurelia"]
	path = ag-grid-aurelia
	url = https://github.com/ag-grid/ag-grid-aurelia.git
	branch = latest
[submodule "ag-grid-enterprise-mysql-example"]
	path = ag-grid-enterprise-mysql-example
	url = https://github.com/ag-grid/ag-grid-enterprise-mysql-example.git
	branch = master
[submodule "ag-grid-react-example"]
	path = ag-grid-react-example
	url = https://github.com/ag-grid/ag-grid-react-example.git
	branch = latest
[submodule "ag-grid-polymer-example"]
	path = ag-grid-polymer-example
	url = https://github.com/ag-grid/ag-grid-polymer-example.git
	branch = master
[submodule "ag-grid-angular"]
	path = ag-grid-angular
	url = https://github.com/ag-grid/ag-grid-angular.git
	branch = latest
[submodule "ag-grid-vue-example"]
	path = ag-grid-vue-example
	url = https://github.com/ag-grid/ag-grid-vue-example.git
	branch = master
[submodule "ag-grid-react"]
	path = ag-grid-react
	url = https://github.com/ag-grid/ag-grid-react.git
	branch = latest
[submodule "ag-grid-aurelia-example"]
	path = ag-grid-aurelia-example
	url = https://github.com/ag-grid/ag-grid-aurelia-example.git
	branch = master
[submodule "ag-grid-enterprise"]
	path = ag-grid-enterprise
	url = https://github.com/ag-grid/ag-grid-enterprise.git
	branch = latest
[submodule "ag-grid-angular-example"]
	path = ag-grid-angular-example
	url = https://github.com/ag-grid/ag-grid-angular-example.git
	branch = latest
[submodule "ag-grid"]
	path = ag-grid
	url = https://github.com/ag-grid/ag-grid.git
	branch = latest
[submodule "ag-grid-webcomponent-example"]
	path = ag-grid-webcomponent-example
	url = https://github.com/ag-grid/ag-grid-webcomponent-example.git
	branch = master
[submodule "ag-grid-openfin-example"]
	path = ag-grid-openfin-example
	url = https://github.com/ag-grid/ag-grid-openfin-example.git
	branch = master
[submodule "ag-grid-docs"]
	path = ag-grid-docs
	url = https://github.com/ag-grid/ag-grid-docs.git
	branch = latest
